/* main general */

.main {
    margin-top: 150px;
  }

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

/* nav */

.nav__item--app {
  height: 30px;
  width: 30px;
  position: relative;
}
.nav__item--app svg {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--color-gray-500);
  margin-top: -8px;
}